.footer-section{
    background-color: #292929;
    height: 600px; 
    color: #fff;
    .footer-blog-posts{
        .footer-blog-date{
            font-size: 0.9em;
        }
        line-height: 2.5rem;
    }
    hr{
        border-color: #555;
    }
    span{
        padding-left: 1rem;
    }
    .update{
        padding-bottom: 1.5rem;
    }
}