.hero-section{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./img/cover15.jpg') no-repeat;
    background-size: 100% auto;
    height: 30vh;
    img{
        width: 100%;
        height: auto;
    }

    .hero-text{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    
    h1{
        position: relative;
        color: white;
        letter-spacing: 1rem;
        font-weight: 200;
        font-size: 3rem;
    }
    
    .hero-span{
        color: white;
        padding-top: 1rem;
        font-weight: 200;
        font-size: 1.6rem;
    }

    .social-icons{
        padding-top: 1rem;
        .ti-twitter-alt{
            color: white;
            padding-right: 1rem;
        }
    
        .ti-instagram{
            color: white;
        }
    
        .ti-linkedin{
            color: white;
            padding-left: 1rem;
        }
    }
    
}

@media (min-width:480px){
    .hero-section{
        height: 100vh;
    }
}

