.projects-section{ 

    .project-container-full{
        height: 90vh;
        @media screen and (max-width: 768px) {
            height: 70vh
        }
        @media screen and (max-width: 420px) {
            height: 60vh;
        }
    }
    .project-container-half{
        height: 45vh;
        @media screen and (max-width: 768px) {
            height: 35vh
        }
    }
    .project-container-quarter{
        height: 22.5vh;
    }
    .project-container-one{
        background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, transparent 100% ), url('./img/col-one.jpg') center no-repeat;
        background-size: cover;
    }
    .project-container-two{
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./img/col-two.jpg') no-repeat;
        background-size: cover;
    }
    .project-container-three{
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./img/col-three.jpg') no-repeat;
        background-size: cover;
    }

}
